#add_news_column {
    width: 80vw;

    padding-top: 60px !important;
}

.field {
	/*border-style: solid !important;*/
}

#errors_list {
	text-align: center;
}

.ui.icon.header {
	margin-top: 20px !important;
}

#add_news_column {
	margin-top: 20px;
	padding: 20px !important;
	background-color: #DADADA;
	color: black !important;
}

.is_pinned_info {
	color: red !important;
}

.ui.segment.content {
	padding: 10px;
}

#clear_expire {
	margin-top: 25px;
}

#clear_publish {
	margin-top: 25px;
}
