.banner.panel {
	margin: 1px 0px 3px 0px !important;
}

.banner .header {
	font-size: 16px;
	padding: 10px;
	border-bottom: 3px solid #303F9F;
}

<<<<<<< HEAD
.banner .content {

	width: 80vw;
	height: 200px;
	overflow: hidden;
=======
/*.banner .content img {	
	max-width: 80vw;
	max-height: 250px;
	width: 100%;
	height: auto;
	margin: auto;
	position: relative;
}*/
>>>>>>> 5da71ce190385615416efba708bc2b30535efc1d

.banner .content {
	/*width: 80vw;*/
	width: auto !important;
	height: 250px;
	max-height: 250px;
	overflow: hidden !important;
	position: relative;
	background-image: url('/images/banner/test_3.jpeg');
	background-size: 100% 100%;
}

.banner .content img {
	position: absolute;
	margin: auto; 
	min-height: 100%;
	min-width: 100%;
}

#main_banner img {
	position: absolute;
	margin: auto; 
	min-height: 100%;
	min-width: 100%;
	
	top: -15%;
	bottom: -100%;
	left: -100%;
	right: -100%;
}

/* 1160px */