.banner.panel {
	margin: 1px 0px 3px 0px !important;
}

.banner .header {
	font-size: 16px;
	padding: 10px;
	border-bottom: 3px solid #303F9F;
}

.banner .content .editMe{
	/*overflow: hidden;*/
	
	/*position: relative;*/
}

.banner .content img {	
	max-width: 80vw;
	max-height: 300px;
	width: 100%;
	height: auto;
	margin: auto;


	
	/*display: block !important;*/
	/*position: absolute !important;*/
	/*position: absolute;*/
	position: relative;

}
