#left_sector {
	padding-top: 10px !important;
}

#right_sector {
	padding-top: 10px !important;
}

#bottom_sector {
	margin-top: 30px !important;
}

#content_sector {
	padding: 10px 15px 0px 15px !important;
}

.editTab {
	position: relative;
}

.editButton *{
	cursor: pointer !important;
}

.ui.container {
	height: 100%;
	width: 80vw;
	/*width: 80vw !important;*/

	margin-top: 20px;

	position: relative;
}

.ui.main.segment {
	background: none;
}

.air_bag {
	margin-bottom: 40px;
}

.ui.inside.grid {
	width: 100%;
	margin: 0px !important;
}

.row {
	padding: 0px;
}

.column {
	padding: 0px !important;
}

.panel {
	position: relative;
	background-color: white;
}

.hideElement {
	display: none !important;
}

.attach_fixed {
	position: fixed;
	top: 200px;

	z-index: 100;
}

.attach_left {
	left: 0px;
}

.attach_right {
	right: 0px;
}

.menuAdmin .item:hover {
	background-color: #555 !important;

	color: white !important;
}

.menuAdmin .ui.menu .ui.dropdown .menu>.item {
	color: black !important;
}

.menuAdmin .ui.menu .ui.dropdown .menu>.item:hover {
	color: black !important;
}

.ui.menu, .ui.vertical.menu {
	background-color: #406DE4;
}

.ui.menu .item:hover, .ui.vertical.menu .item:hover {
	background: rgba(255,255,255,.08);
}

.ui.menu {
	margin: 0px 0px 1px 0px !important;
	border-radius: 0px !important;
}

.ui.menu.vertical {
	width: 100% !important;
	height: auto;
}

.ui.menu .item,
.ui.menu .item .default.text {
	color: white;
}

.ui.menu .item:hover {
	cursor: pointer;
}

.ui.vertical.menu .item *{
	color: white !important;
}

.ui.vertical.menu > .ui.accordion .item:hover{
	background: rgba(255,255,255,.08) !important;
}

.ui.vertical.menu > .ui.accordion .title:hover{
	background: rgba(255,255,255,.08) !important;
}

.ui.accordion .title:not(.ui) {
	color: white;
}

.ui.accordion .content .item {
	color: white;
}

.ui.menu .dropdown.item .menu {
	background: white;

	color: black;

	border-radius: 0px;
}

.ui.menu .item:hover {
	background: rgba(255,255,255,.08);
}

.ui.accordion .title {
	padding: .92857143em .72857143em !important;
}

.ui.accordion .content .item {
	padding-left: 30px !important;
}

.news.panel .ui.bottom.right.attached.label i {
	padding-left: 10px !important; 
}

.page.panel {

	min-height: 100px;

	position: relative;

	margin-bottom: 10px !important;

	background-color: white;

	word-wrap: break-word;
}

.page.panel .title {
	padding: 10px;

	font-size: 20px;
	font-weight: bold;

	-webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6);
	box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.6);
}

.page.panel .content {
	padding: 20px;
	padding-bottom: 40px;

	box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.6);
	display: block;
	overflow: auto;

	white-space: normal;
}

.news.panel {

	min-height: 100px;

	position: relative;

	margin-bottom: 10px !important;

	background-color: white;

	word-wrap: break-word;
}

.news.panel .title {
	padding: 10px;

	font-size: 20px;
	font-weight: bold;

	-webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6);
	box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.6);
}

.news.panel .content {
	padding: 20px;
	padding-bottom: 40px;

	box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.6);
	display: block;
	overflow: auto;

	white-space: normal;
}

.news.panel .ui.label {
	color: white;
	background-color: #406DE4;
}

.pagination_container {
	display: block;
	/*overflow: auto;*/

	margin: auto;
}

.ui.pagination.menu {
	background: none;
}

.ui.pagination.menu .item:not(.disabled) {

	color: white;
	background-color: #406DE4;
}

.pagination_container .ui.pagination .item:hover {

	background: #e14658;
}

.ui.pagination.menu .active.item {

	color: white;

	background-color: #e14658;
}

.pagination_container .ui.menu .item.disabled,
.pagination_container .ui.menu .item.disabled:hover {

	/*color: white;*/
	background-color: #BAC9D8;
}

.ui.pagination.menu .disabled.item:hover {
	background-color: #BAC9D8;
}

.no_search_results {

	text-align: center;
	font-size: 50px;
	font-weight: bold;

	padding: 50px;
}

.ui.link.menu .item:hover, 
.ui.menu .dropdown.item:hover, 
.ui.menu .link.item:hover, 
.ui.menu a.item:hover {
	color: white;
}
