#content_sector{
	color: #ddd;
}

.ui.container {
	height: 100%;
	width: 80vw !important;

	padding-top: 20px;
}

.ui.main.segment {
	background: none;
}

.ui.inside.grid {
	width: 100%;
	margin: 0px !important;
}

.row {
	padding: 0px !important;
}

.column {
	border: 1px solid white;

	padding: 0px !important;
}

.panel {
	background-color: #222;
	color: white;

	border: 1px dashed white;
}

.hideElement {
	display: none !important;
}

.attach_fixed {
	position: fixed;
	top: 200px;

	z-index: 100;
}

.attach_left {
	left: 0px;
}

.attach_right {
	right: 0px;
}

.ui.menu {
	margin: 0px !important;
}

.ui.menu.vertical {
	width: 100% !important;
	height: auto;
}

.ui.menu .item:hover {
	cursor: pointer;
}

.ui.vertical.menu .item *{
	color: white !important;
}

.ui.dropdown .link *{
	color: black !important;
}


