#left_sector {
	padding-top: 10px !important;
}

#right_sector {
	padding-top: 10px !important;
}

#bottom_sector {
	margin-top: 30px !important;
}

#content_sector {
	padding: 10px 15px 0px 15px !important;
}

.editTab {
	position: relative;
}

.editButton *{
	cursor: pointer !important;
}

.ui.container {
	height: 100%;
	width: 80vw !important;

	padding-top: 50px;
}

.ui.main.segment {
	background: none;
}

.ui.inside.grid {
	width: 100%;
	margin: 0px !important;
}

.row {
	padding: 0px !important;
}

.column {
	padding: 0px !important;
}

.panel {
	position: relative;
	background-color: white;
}

.hideElement {
	display: none !important;
}

.attach_fixed {
	position: fixed;
	top: 200px;

	z-index: 100;
}

.attach_left {
	left: 0px;
}

.attach_right {
	right: 0px;
}

.menuAdmin .item:hover {
	background-color: #555 !important;

	color: black !important;
}

.menuAdmin .dropdown.item .item {
	background: black !important;
}

.ui.menu {
	margin: 0px 0px 1px 0px !important;

	border-radius: 0px !important;
}

.ui.menu.vertical {
	width: 100% !important;
	height: auto;
}

.ui.menu .item,
.ui.menu .item .default.text {
	color: white !important;
}

.ui.menu .item:hover {
	cursor: pointer;
	background: rgba(255,255,255,.08) !important;
}

.ui.vertical.menu .item *{
	color: white !important;
}

.ui.vertical.menu > .ui.accordion .item:hover{
	background: rgba(255,255,255,.08) !important;
}

.ui.vertical.menu > .ui.accordion .title:hover{
	background: rgba(255,255,255,.08) !important;
}

.ui.menu .dropdown.item .menu {
	background: #102242;

	color: white;

	border-radius: 0px;
}

.ui.menu .ui.dropdown .menu>.item {
	color: white !important;
}

.ui.menu .ui.dropdown .menu >.item:hover {
	color: white !important;
	background: rgba(255,255,255,.08) !important;
}

.ui.menu .item:hover {
	background: rgba(255,255,255,.08);
}

.ui.accordion .title {
	padding: .92857143em .72857143em !important;
}

.ui.accordion .content .item {
	padding-left: 30px !important;
}

.news.panel .ui.bottom.right.attached.label i {
	padding-left: 10px !important; 
}

.news.panel {

	min-height: 100px;

	position: relative;

	margin-bottom: 10px !important;

	background-color: white !important;
}

.news.panel .title {
	padding: 10px;

	font-size: 20px;
	font-weight: bold;

	-webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.6);
	box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.6);
}

.news.panel .content {
	padding: 20px;
	padding-bottom: 40px;

	box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.6);
	display:block;
	overflow:auto;
}

.ui.pagination .item {

	color: white !important;

	background-color: #406DE4;
}

.ui.pagination .item:hover {

	background-color: #e14658 !important;
}

.ui.pagination .active.item {

	color: white !important;

	background-color: #e14658 !important;
}

.ui.pagination .disabled.item {

	color: white !important;

	background-color: #BAC9D8 !important;
}

.ui.pagination .disabled.item:hover {

	background-color: #BAC9D8 !important;
}