.air_bag {
	margin-top: 50px;
}

.options_container .ui.segment{
	width: 100%;

	background-color: #A9C7D7;
	
	border: 1px solid #282A2E;
	border-radius: 0;

	/*font-size: 20px;*/
}

.options_container .options{

}

.ui.table {

	min-width: 100% !important;
	border: 1px solid black;
	border-radius: 0 !important;
}

.ui.table tr td {
	background-color: #A9C7D7;
	border-top: 1px solid #282A2E  !important;
}

.ui.table tr:hover td {
	background-color: #bad3e0;
}

.ui.table tr.pinned td {
	background-color: #83B9DF;
	color: white;
}

.ui.button.preview_toggle_button {
	background-color: #282A2E;
	color: white;
}

.ui.button.preview_toggle_button:hover {
	background-color: white;
	color: #282A2E;
}

.ui.table td.actions .ui.button{

	width: 40% !important;

	background-color: #282A2E !important;
	color: white !important;
}

.ui.table td.actions .ui.button i{
	
}

.ui.table td.actions .ui.edit.button:hover {
	background-color: #4386CB !important;
	color: white !important;
}

.ui.table td.actions .ui.delete.button:hover {
	background-color: #C93928 !important;
	color: white !important;
}


.pagination_container {
	display: block;
	/*overflow: auto;*/

	margin: 10px auto;
}

.ui.pagination .item {

	color: white !important;

	background-color: #282A2E;
}

.ui.pagination .item:hover {

	color: #282A2E !important;

	background-color: white !important;
}

.ui.pagination .active.item {

	color: #282A2E !important;

	background-color: white !important;
}

.ui.pagination .disabled.item {

	color: white !important;

	background-color: #BAC9D8 !important;
}

.ui.pagination .disabled.item:hover {

	background-color: #BAC9D8 !important;
}
