.ui.container {
	height: 100%;
	width: 80vw !important;

	padding-top: 10px;

	margin: auto 0;
}

.column {
	background-color: yellow;
}

.sector {
	background-color: white;

	border: 1px solid #111;

	color: #111;
}

.disabled {
	display: none !important;
}

.attach_fixed {
	position: fixed;
	top: 200px;

	z-index: 100;
}

.attach_left {
	left: 0px;
}

.attach_right {
	right: 0px;
}

.view_computer {


}

.view_tablet {


}

.view_mobile {


}