body {
	background-color: #6C7A89;

	color: #c7b29b;
}

.cookie_info {
	position: fixed;
	top: 0px;

	padding: 20px;

	width: 100%;
	height: auto;

	font-size: 15px;
	text-align: center;

	z-index: 999;

	color: white;
	background: rgba(68,68,68,0.9);
}