/*menuAddEdit css*/

.fields {
	/*border: solid;*/
}

.ui.tabular.menu  {
	overflow-x: auto;
	overflow-y: hidden;
}

.ui.tabular.menu a {
	color: black !important;
}

.circular.ui.icon.button.order {
	margin-top: +14px;
}

.ui.icon.buttons.actions {
	margin-top: +14px;
}

.delete_item_div {
	display: flex ;
    justify-content: flex-end;
}

.ui.confirm.delete.modal .content{
    justify-content: center;
}