.ui.settings.container {
	/*background-color: #A9C7D7;*/
	margin-top: 50px;
	width: 80vw;
	padding: 10px;
}

.ui.settings.container .wrapper {
	padding: 30px;
	background-color: #A9C7D7;
}

.ui.labeled.input .ui.label {

	background-color: #282A2E; 
	color: white;

	text-align: center;
}

.ui.labeled.input .ui.label:not(.additional) {
	width: 170px;
}

.ui.horizontal.divider {
	color: #282A2E;
}

.ui.horizontal.divider .icon {
	font-size: 40px; margin: 0px 10px 0px 10px;
}

.ui.positive.button {
	background-color: #BFE9EB;
	color: black;
}

.ui.positive.button:hover {
	background-color: #6CAA78;
	color: white;
}

.ui.password.button {
	background-color: #BFE9EB;
	color: black;

	width: 170px;
	border: 1px solid #282A2E;
}

.ui.password.button:hover {
	background-color: #6CAA78;
	color: white;
}

.ui.negative.button {
	background-color: #282A2E;

}

.ui.negative.button:hover {
	background-color: #C93928;

}

.ui.button.show_change_password_toggle {
	background-color: #BFE9EB;
	color: black;

	width: 170px;

	margin: 20px 0px;

	border: 1px solid #282A2E;
}

.ui.button.show_change_password_toggle:hover {
	background-color: #282A2E;
	color: white;
}

.ui.button.show_change_password_toggle.active {

	background-color: #282A2E !important;
	color: white !important;
}

span.password_change_hint {
	
	margin: 10px;

	text-decoration: underline;
}

