.banner.panel {
	margin: 1px 0px 3px 0px !important;
}

.banner .header {
	font-size: 16px;
	padding: 10px;
	border-bottom: 3px solid #303F9F;
}

/*.banner .content img {	
	max-width: 80vw;
	max-height: 250px;
	width: 100%;
	height: auto;
	margin: auto;
	position: relative;
}*/

/*width: 80vw;*/
.banner .content {
	
	width: auto !important;
	height: 250px;
	max-height: 250px;
	overflow: hidden !important;
	position: relative;
}

/*.banner .content img {
	position: absolute;
	margin: auto; 
	min-height: 100%;
	min-width: 100%;
}

#main_banner img {
	position: absolute;
	margin: auto; 
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	
	top: -15%;
	bottom: -100%;
	left: -100%;
	right: -100%;
}*/

/* 1160px */

